.container {
  font-family: Vazir-Light;
  display: flex;
  flex-direction: row;
}
.card {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-family: Vazir-Medium;
  color: black;
}

.sidbar {
  width: 200px;
  height: 100vh;
  margin: 20px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgb(0 0 0 / 30%);
  font-size: 1rem;
  border-radius: 10px;
  padding-bottom: 5px;
}
