
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(185, 184, 183);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.container_sofaShop {
  padding-right: 10px;
  font-size: 14px;
}

li {
  padding: 6px;
}
svg {
  color: black;
}
svg:hover,
.contact img {
  color: rgb(127, 21, 21);
  transform: rotate(10deg);
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(185, 184, 183);
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 340px) {
  li {
    font-size: 1rem;
  }
}
