.main {
  direction: rtl;
  text-align: center;
  font-family: Vazir-Bold;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
svg{
    margin-left: 10px;
    cursor: pointer;
}