body {
  margin: 0;
}

@font-face {
  font-family: "Vazir-Medium";
  src: local("Vazir-Medium"),
    url("./assets/fonts/Vazir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir-Bold";
  src: local("Vazir-Medium"),
    url("./assets/fonts/Vazir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir-Light";
  src: local("Vazir-Medium"),
    url("./assets/fonts/Vazir-Medium.ttf") format("truetype");
}
